{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}


{% block navbar %}
{{parent()}}
{% endblock %}

{% block contenu %}
{{parent()}}
<main>
<h1>
AH !
</h1>
</main>
{% endblock %}
